@charset "UTF-8";
/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}
.img_comment {
    width: 100px;
    height: 100px;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

ul {
    margin: 0;
}

/* ---------------*/
.wrapper {
    max-width: 1400px;
    margin: 0 auto;
    box-sizing: content-box;
}

input, textarea, select {
    border: black solid 1px;
}

body {
    /*background-image: url("../images/img1.akspic.ru-tablica-oblako-atmosfera-ekoregion-poslesvechenie-2250x4872.png");*/
    background: -webkit-linear-gradient(90deg, rgb(197, 207, 154) 42%, rgb(221, 177, 72));
    background: -moz-linear-gradient(90deg, rgb(197, 207, 154) 42%, rgb(221, 177, 72));
    background: linear-gradient(90deg, rgb(197, 207, 154) 42%, rgb(221, 177, 72));
    background-attachment: fixed;
}

.box {
    padding: 10px;
    background-image: url("../images/glass_black.png");
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    border-radius: 15px;
}

.black_border {
    border: 1px solid black;
}

.min_h {
    min-height: 250px;
}

.container_body_css {
    display: flex;
    flex-direction: column;
}

.cont_item_2_css {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.margin_10px {
    margin: 10px;
}

.item-card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.6);
    transition: all .3s;
}

.container-card {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.1) inset;
}

.bc_color_white_css {
    background-color: white;
}

.item-card:hover {
    box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
}

.product-img {
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/

    /*height: 200px;*/
    /*width: 100px;*/

    position: relative;
        display: block;
    padding: 0 0 0 15%;
    margin: 10px;

}

.product-img img {
    border-radius: 5%;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
}

.category_selected {
    color: aqua;

}

.foto_post {
    width: 300px;
    height: 300px;
    position: relative
}

.foto_post img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
}

