{% extends 'base.html' %}
{% block content %}

{% for i in posts %}

<!--<div class="card col-lg-4 col-sm-6 m-1 item-card">-->
<div class="">
    <div class="card d-flex flex-row m-2 item-card">
    <div class="product-img">
        {% if i.photo %}
        <img src="{{ i.photo.url }}" class="card-img-top" alt="...">
        {% else %}
        <img src="/media/photos/no_product.jpg" class="card-img-top" alt="...">
        {% endif %}
    </div>

    <div class="card-body">
        <h5 class="card-title">{{ i.title }}</h5>
        {% autoescape off %}
        <!--
        autoescape разрешает применять разметку html
        linebreaks перенос строки
        -->
        <p class="card-text">{{ i.content|linebreaks|truncatewords:20 }}</p>
        {% endautoescape %}
        <p class="card-text">Категория: {{ i.cat.name }}</p>
        <p class="card-text">Дата: {{ i.time_update|date:"d-m-y H:i:s" }}</p>
        <a href="{{ i.get_absolute_url }}" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
</div>


{% endfor %}


{% endblock %}



