<!doctype html>
<html lang="ru">
<head>
    <!-- Обязательные метатеги -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>{{ title|default:"без заголовка" }}</title>
</head>
<body>
<div class="container-fluid border border-dark">
    <div class="row">
        <div class="col-sm border border-dark">
            Один из трех столбцов
        </div>
        <div class="col-sm border border-dark">
            Один из трех столбцов
        </div>
        <div class="col-sm border border-dark">
            Один из трех столбцовОдин из трех столбцовОдин из трех столбцов
        </div>
    </div>
    <!--    <h1>{{ sub_title }}</h1>-->
    <!--    <p>{{ menu }}</p>-->
    <!--    <p>{{ menu.1 }}</p>-->
    <!--    <p><a href="http://127.0.0.1:8000/about/">О сайте</a></p>-->
    <!--    &lt;!&ndash; Необязательный JavaScript; выберите один из двух! &ndash;&gt;-->
</div>


<!-- Вариант 1: пакет Bootstrap с Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

<!-- Вариант 2: отдельные JS для Popper и Bootstrap -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
-->
</body>
</html>