{% extends 'base.html' %}
{% block content %}
<h1>{{post.title}}</h1>
{% if post.photo %}
<div class="foto_post"><img src="{{post.photo.url}}" alt=""></div>
{% endif %}
{% autoescape off %}
{{post.content|linebreaks}}
{% endautoescape %}

{% with post.tags.all as tags %}
{% if tags %}
<p>Тэги:</p>
<ul class="tags-list">
    {% for t in tags %}
    <li class="badge text-bg-danger"><a href="{{t.get_absolute_url}}">{{t.tag}}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<form action="" method="post" class="black_border ">
    {% csrf_token %}

    <!--  add comment-->
    {% for f in form %}

    <div class=" input-group mb-3">
        <p><label for="{{ f.id_for_label }}" class="form-label input-group-text">{{ f.label }}</label>{{ f }}</p>

    </div>
    {% endfor %}
    <p><button type="submit">Отправить</button></p>
</form>

<div class="card m-1" style="width: 18rem;">
    <h2>Комменты</h2>
    {% for com in post.comment.all %}

    <div class="card-body black_border m-1">
        <h5 class="card-title">{{com.name}}</h5>

        <p class="card-text">{{com.content}}</p>

    </div>

    {% endfor %}
</div>
{% endblock %}