{% extends 'base.html' %}
{% block content %}
<h1>{{post.title}}</h1>
{% if post.photo %}
<div class="foto_post"><img src="{{post.photo.url}}" alt=""></div>
<style type="text/css">body {
    background-image: url({{post.photo.url}})
}</style>
{% endif %}
{% autoescape off %}
{{post.content|linebreaks}}
{% endautoescape %}

{% with post.tags.all as tags %}
{% if tags %}
<p>Тэги:</p>
<ul class="tags-list">
    {% for t in tags %}
    <li class="badge text-bg-danger"><a href="{{t.get_absolute_url}}">{{t.tag}}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}


<!--<form action="" method="post" class="black_border ">-->
<!--    {% csrf_token %}-->
<!--    &lt;!&ndash;  add comment&ndash;&gt;-->
<!--    {% for f in form %}-->
<!--    <div class=" input-group mb-3">-->
<!--        <p><label for="{{ f.id_for_label }}" class="form-label input-group-text">{{ f.label }}</label>{{ f }}</p>-->
<!--    </div>-->
<!--    {% endfor %}-->


<!--    <p><button type="submit">Отправить</button></p>-->
<!--</form>-->
<form action="{% url 'create_comment' pk=post.id %}" method="post" class="black_border ">
    {% csrf_token %}
    <!--  add comment-->
    {{ form.name }}
    {{ form.content }}


    <p>
        <button type="submit">Отправить</button>
    </p>
</form>

<div class="container ">

    <h2>Комменты {{post.comment.count}}</h2>
    {% for com in post.comment.all %}
    <div class="row card-body black_border m-1 d-flex flex-row ">
        <div class="col-6 g-2 img_comment ">
            <img class="card-img-top" src="/media/photos/no_product.jpg" alt="">
        </div>
        <div class="col-6">
            <h5 class="card-title">{{com.name}}</h5>
            <p class="card-text">{{com.content}}</p>
        </div>
    </div>
    {% endfor %}
    
</div>


{% endblock %}