{% extends 'base.html' %}
{% block content %}

{% for i in posts %}

<!--<div class="card col-lg-4 col-sm-6 m-1 item-card">-->
<div class="">
    <div class="card d-flex flex-row m-2 item-card">
        <div class="product-img">
            {% if i.photo %}
            <img src="{{ i.photo.url }}" class="card-img-top" alt="...">
            {% else %}
            <img src="/media/photos/no_product.jpg" class="card-img-top" alt="...">
            {% endif %}
        </div>

        <div class="card-body">
            <h5 class="card-title">{{ i.title }}</h5>
            {% autoescape off %}
            <!--
            autoescape разрешает применять разметку html
            linebreaks перенос строки
            -->
            <!--            <p class="card-text">{{ i.content|linebreaks|truncatewords:20 }}</p>-->
            <!--            {% endautoescape %}-->
            {% with i.tags.all as tags %}
            {% if tags %}
            <p class="card-text">Жанр:

                {% for t in tags %}
                <a href="{{t.get_absolute_url}}">{{t.tag}}</a>
                {% endfor %}
            </p>
            {% endif %}
            {% endwith %}
            <p class="card-text">Жанр: {{ i.cat.name }}</p>
            <p class="card-text">Категория: {{ i.cat.name }}</p>


            <p class="card-text">Дата: {{ i.time_update|date:"d-m-y H:i:s" }}</p>
            <a href="{{ i.get_absolute_url }}" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>

{% empty %}
<p>Ничего не найдено</p>
{% endfor %}


{% endblock %}

{% block navigation %}
<div class="d-flex justify-content-center m-2">
    <nav aria-label="Навигация">
        <ul class="pagination">

            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?{{ s }}page={{ page_obj.previous_page_number }}" aria-label="Предыдущая">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
            {% for p in paginator.page_range %}
            {% if page_obj.number == p %}
            <li class="page-item active" aria-current="page">
                <span class="page-link">{{ p }}</span>
            </li>
            {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
            <li class="page-item"><a class="page-link" href="?{{ s }}page={{ p }}">{{ p }}</a></li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?{{ s }}page={{ page_obj.next_page_number }}" aria-label="Следующая">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}

        </ul>
    </nav>
</div>

{% endblock %}

